@media screen and (max-width: 768px){
  .container
}
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
html {
  height: 100%;
  width: 100%;

  background-image: linear-Gradient(to bottom right, green, white, yellow);


.hascolor {
  font-family: "Rye", static;
  
  
}
  
  color: rgb(235, 10, 10)

  
}
.me {
  display:inline-block;
  transition:padding-top 0.5s,
            padding-left 0.5s 0.5s ease;
  position:absolute;

  
}
.me:hover {
  padding-top:250px;
  padding-left:160px;

  
}
.myClass{
  margin-top:40px ;
}



    